@model Data.ViewModels.ServiceViewModel

<div class="modal fade" id="servicioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Alta y/o modificación de Servicios.</h5>
            </div>
            @if(Model.CodService != 0)
            {
                @using (Html.BeginForm("UpdateService", "/service", FormMethod.Post))
                {
                    @Html.HiddenFor(e => e.CodService)
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-4 form-control-label">Descripción</label>
                                @Html.EditorFor(x=> x.Descr, new {htmlAttributes = new {@class = "col-md-8 form-control", @required = "required" } })
                            </div>
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-2 form-control-label">Estado</label>
                                @Html.CheckBoxFor(x => x.State, new { htmlAttributes = new { @class = "form-check-input", @required = "required" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-2 form-control-label">Valor x Hora</label>
                                @Html.EditorFor(x=> x.HourValue, new {htmlAttributes = new {@class = "col-md-8 form-control", @required = "required" } })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success" id="btnGuardar">Guardar</button>
                    </div>
                }
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="DeleteService({ codService: @Model.CodService })" data-bs-dismiss="modal">Eliminar</button>
                </div>
            }
            else
            {
                @using (Html.BeginForm("CreateService", "/service", FormMethod.Post))
                {
                    ;
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-4 form-control-label">Descripción</label>
                                @Html.EditorFor(x=> x.Descr, new {htmlAttributes = new {@class = "col-md-8 form-control", @required = "required" } })
                            </div>
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-2 form-control-label">Estado</label>
                                @Html.CheckBoxFor(x => x.State, new { htmlAttributes = new { @class = "form-check-input", @required = "required" } })
                            </div>
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-2 form-control-label">Valor x Hora</label>
                            @Html.EditorFor(x=> x.HourValue, new {htmlAttributes = new {@class = "col-md-8 form-control", @required = "required" } })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success" id="btnGuardar">Guardar</button>
                    </div>
                }
            }        
        </div>
    </div>
</div>