@model Data.ViewModels.ProjectViewModel

<div class="modal fade" id="projectoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Alta y/o modificación de Servicios.</h5>
            </div>
            @if(Model.CodProject != 0)
            {
                @using (Html.BeginForm("UpdateProject", "/project", FormMethod.Post))
                {
                    @Html.HiddenFor(e => e.CodProject)
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-4 form-control-label">Nombre</label>
                                @Html.EditorFor(x=> x.Name, new {htmlAttributes = new {@class = "col-md-8 form-control", @required = "required" } })
                            </div>
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-2 form-control-label">Estado</label>
                                @Html.EditorFor(x => x.State, new { htmlAttributes = new { @class = "col-md-8 form-control", @required = "required" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-2 form-control-label">Dirección</label>
                                @Html.EditorFor(x=> x.Address, new {htmlAttributes = new {@class = "col-md-8 form-control", @required = "required" } })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success" id="btnGuardar">Guardar</button>
                    </div>
                }
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="DeleteProject({ codProject: @Model.CodProject })" data-bs-dismiss="modal">Eliminar</button>
                </div>
            }
            else
            {
                @using (Html.BeginForm("CreateProject", "/project", FormMethod.Post))
                {
                    ;
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-4 form-control-label">Nombre</label>
                                @Html.EditorFor(x=> x.Name, new {htmlAttributes = new {@class = "col-md-8 form-control", @required = "required" } })
                            </div>
                            <div class="col-md-6 mt-1 mb-3">
                                <label class="col-md-2 form-control-label">Estado</label>
                                @Html.EditorFor(x => x.State, new { htmlAttributes = new { @class = "col-md-8 form-control", @required = "required" } })
                            </div>
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-2 form-control-label">Dirección</label>
                            @Html.EditorFor(x=> x.Address, new {htmlAttributes = new {@class = "col-md-8 form-control", @required = "required" } })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success" id="btnGuardar">Guardar</button>
                    </div>
                }
            }        
        </div>
    </div>
</div>